
body {
  background-color: #f1f1f1;
  margin: 0;
}
.header {
  background-image: url('headerpic.png');
  border-bottom-left-radius: 50px;
  padding: 45px;
  
  
}
.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.nav .left {
  float: left;
  color: blue;
}
.nav .right {
  float: right;
}

.nav li a {
  display: inline-block;
  padding: 12px 14px;
  text-decoration: none;
  color: #000;
}
.nav li .blue {
  color: blue;
  font-weight: bold;
}
.nav li .brown {
  color: purple
}
.header h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #091E42;
}